#YOU CAN EDIT THIS FILE, BUT THIS FILE WILL BE OVERWRITTEN AT COMPILATION TIME
# The following file should contain a tarfile with zip files. Each of the zip files should contain a RDF chess games in TTL 
rdfchessdump = Documents/Nazifa/WrightStateUni/DaseLab/LinkedChessDataset/data/chess.zip
# The server where the linked data is search in
fuseki = http://localhost:3030/RDFChess/data

# The folder where the downloadable dumps are expected (Q.nt.zip, rdfchess.tar, pgn.tar)
dumpfolder = Documents/Nazifa/WrightStateUni/DaseLab/LinkedChessDataset/data
# Domain URI of the data, ending with /. After that, only the id will appear
datauri = http://geolink.cs.wright.edu:8080/rdfchess/resource/


